/* Rest The Defualt Sytle on Pages */

*,
*::before,
*::after {
box-sizing: border-box;
}

*{
margin:0;
padding: 0;
}
body{
    font-family:  'Poppins', sans-serif;;
}

/* Here For Vars */


/* Here For Vars */

/* Here Global Rules */

.container {
    background-color: #eee;
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    grid-template-rows: 100px 200px 300px;
    gap: 10px;
    align-items: center ;
}

.container > div {
    background-color: #ccc;
    border: 1px solid black;
    text-align: center;
    padding: 30px;
}


.container > div:first-child {
    grid-column: 1 / span 2;
    
}
.container > div:nth-child(2){
    grid-column: span 3;
}
.container > div:nth-child(4){
    grid-column: 2/6;
}

.container > div:nth-child(5){
    grid-column: 1/ 4;
}


.container > div:last-child {
    
    grid-column: span 3;
    
}
.container a.hover:hover {
    text-decoration: none;
    grid-column:  span 6;
}


/* Here Global Rules */